# Lab 5.1

In [7]:
# 1, 2.
even_list = [i for i in range(2, 11, 2)]

print(f'even_lsit = {even_list}')

# 3. 
nations = ['Korea', 'China', 'India', 'Nepal']
print(f'Nations = {nations}')

# 4.
friends = ['길동', '철수', '은지', '지은', '영민']
print(f'frineds = {friends}')

# 5.
string = 'XYZ'
string = [s for s in string]
print(f'string = {string}')

even_lsit = [2, 4, 6, 8, 10]
Nations = ['Korea', 'China', 'India', 'Nepal']
frineds = ['길동', '철수', '은지', '지은', '영민']
string = ['X', 'Y', 'Z']

# Lab 5.2

In [17]:
# 1.
def isPrime(n):
    for i in range(2, n-1):
        if n % i == 0:
            return False
        
    return True


prime_list = [i for i in range(2, 11) if isPrime(i) ]
print(f'prime_list 첫 원소 : {prime_list[0]}')

# 2.
print(f'prime_list 마지막 원소 : {prime_list[len(prime_list) - 1]}')

# 3.
print(f'prime_list 마지막 원소 : {prime_list[- 1]}')

# 4.
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f'nations의 첫 원소 : {nations[0]}')

# 5.
print(f'nations의 마지막 원소 : {nations[-1]}')

# 6. 
print(f'nations의 마지막 원소 : {nations[len(nations)-1]}')

prime_list 첫 원소 : 2
prime_list 마지막 원소 : 7
prime_list 마지막 원소 : 7
nations의 첫 원소 : Korea
nations의 마지막 원소 : Malaysia
nations의 마지막 원소 : Malaysia

# Lab 5.3

In [24]:
# 1.
prime_list = [i for i in range(2, 11) if isPrime(i)]
print(f'소수 목록 : {prime_list}')
prime_list.append(11)
print(f'추가 후 소수 목록 : {prime_list}')

# 2. 
print(f'삭제 전 소수 목록 : {prime_list}')
prime_list.remove(3)
print(f'삭제 후 소수 목록 : {prime_list}')

# 3.
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f'국가 목록 : {nations}')
nations.append('Nepal')
print(f'추가 후 국가 목록 : {nations}')

# 4.
def print_nations(country, flag):
    if flag:
        print(f'{country}는(은) 국가 목록에 있습니다.')
    else:
        print(f'{country}는(은) 국가 목록에 없습니다.')

              
isJapan = 'Japan' in nations
isRussia = 'Russia' in nations
              
print_nations('Japan', isJapan)
print_nations('Russia', isRussia)

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]
삭제 전 소수 목록 : [2, 3, 5, 7, 11]
삭제 후 소수 목록 : [2, 5, 7, 11]
국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']
Japan는(은) 국가 목록에 없습니다.
Russia는(은) 국가 목록에 있습니다.

# Lab 5.4

In [28]:
# 1.
prime_list = [i for i in range(2, 11) if isPrime(i)]
print(f'1에서 10까지의 소수 : {prime_list}')
print(f'최솟값 : {min(prime_list)}')
print(f'최댓값 : {max(prime_list)}')
print(f'합계 : {sum(prime_list)}')
print(f'평균 : {sum(prime_list) / len(prime_list)}')

# 2.
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print(f'국가 목록 : {nations}')
print(f'사전에 가장 먼저 나오는 나라 : {min(nations)}')
print(f'사전에 가장 먼저 나오는 나라 : {max(nations)}')

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25
국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 먼저 나오는 나라 : Russia

# Lab 5.5

In [33]:
# 1.
a = [1, 2, 3]
b= [10, 20, 30]
a.append(b)
print(a)

a = [1, 2, 3]
a.extend(b)
print(a)

# 2. 
nlist = [i for i in range(1, 11)]
print(f'nlist = {nlist}')

# 3.
nlist.insert(0, 0)
print(f'nlist = {nlist}')

# 4.
nlist.reverse()
print(f'nlist = {nlist}')

# 5.
pop_n = nlist.pop(-1)
print(f'마지막 원소 = {pop_n}')
print(f'nlist = {nlist}')

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Lab 5.6

In [35]:
# 1.
n = int(input('반복할 정수를 입력하시오 : '))
print(n * [1, 2, 3])

반복할 정수를 입력하시오 : 2
[1, 2, 3, 1, 2, 3]

# Lab 5.7

In [41]:
# 1. 
n_list = [i for i in range(15)]
print(f'nlist = {n_list}')

# 2.
s_list4 = n_list[2:11:2]
print(f's_list4 = {s_list4}')

s_list5 = n_list[-5:-10:-1]
print(f's_list5 = {s_list5}')

s_list6 = n_list[-5:0:-2]
print(f's_list6 = {s_list6}')

nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]

# Lab 6.1

In [44]:
# 1.
capital_dic = {
    'Korea': 'Seoul',
    'China': 'Beijing',
    'USA': 'Washington DC'
}

{'Korea': 'Seoul', 'China': 'Beijing', 'USA': 'Washington DC'}

# Lab 6.2

In [46]:
# 1, 2.
person = {
    '이름': '홍길동',
    '나이': 26,
    '몸무게': 82,
    '특기' : '분신술'
}
person['아버지'] = '홍판서'
print(person)

# 3.
del person['나이']
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

# Lab 6.3

In [51]:
# 1.
capital_dic = {
    'Korea':'Seoul',
    'China':'Beijing',
    'USA':'Washington DC'
}

print('Korea in dic', 'Korea' in capital_dic)
print('Beijing in dic', 'Beijing' in capital_dic)
print('Indonesia in dic', 'Indonesia' in capital_dic)

Korea in dic True
Beijing in dic False
Indonesia in dic False

# Lab 6.4

In [57]:
# 1.
fruits_dic = {
    'apple': 6000,
    'melon': 3000,
    'banana': 5000,
    'orange': 7000
}

# 2.
print(fruits_dic.keys())

# 3.
print(fruits_dic.values())

# 4.
fruits_dic.pop('apple')
print(fruits_dic)

# 5.
fruits_dic.clear()
print(fruits_dic)

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
{'melon': 3000, 'banana': 5000, 'orange': 7000}
{}

# Lab 6.5

In [60]:
# 1.
fruits_dic = {
    'apple': 6000,
    'melon': 3000,
    'banana': 5000,
    'orange': 7000
}

print(list(fruits_dic.keys()))

# 2.
print(list(fruits_dic.values()))

# 3.
print(len(fruits_dic))

# 4.
print('apple' in fruits_dic)
print('mango' in fruits_dic)

['apple', 'melon', 'banana', 'orange']
[6000, 3000, 5000, 7000]
4
True
False

# Lab 6.7

In [63]:
# 1.
person = ('홍길동', 2019001, 179)
print(f'person = {person}')

# 2.
# person[1] = 2019003 -> 오류

# 3.
person = list(person)
person[1] = 2019003
preson = tuple(person)
print(f'person = {person}')

person = ('홍길동', 2019001, 179)
person = ['홍길동', 2019003, 179]

# Lab 6.8

In [64]:
# 1.
x = int(input('x = '))
y = int(input('y = '))


def square(a, b):
    return a**2, b**2


x2, y2 = square(x, y)
print(x, x2, y, y2)

x = 1
y = 2
1 1 2 4

In [65]:
# 2.
print((10, 20, 30) + (40, 50, 60))

(10, 20, 30, 40, 50, 60)

In [69]:
# 3.
print('Hello' * 3)
print(('Hello',) * 3)

HelloHelloHello
('Hello', 'Hello', 'Hello')

# Lab 6.9

In [70]:
# 2.
greet = 'Good Afternoon'
s2 = set(greet)
print(s2)

{'e', 'o', 'f', 't', 'd', 'r', 'n', ' ', 'G', 'A'}

# Lab 6.10

In [74]:
# 1.
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

print(s1|s2)
print(s1&s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

# Lab 7.1

In [81]:
# 1.
import datetime as dt
today = dt.datetime.now()
year = today.year
month = today.month
day = today.day
hour = today.hour
min = today.minute
sec = today.second
print(year, month, day)
print(hour, min, sec)

2022 10 26
18 19 43

# Lab 7.2

In [88]:
# 1.
today = dt.datetime.now()
xMas = dt.datetime(year = 2025, month = 12, day = 25)
print(f'오늘은 {today.year}년 {today.month}월 {today.day}일입니다.')
gap = xMas - today
print(f'2025년 크리스마스까지는 {gap.days}일 {gap.seconds // 3600}시간 남았습니다.')

오늘은 2022년 10월 26일입니다.
2025년 크리스마스까지는 1155일 5시간 남았습니다.

In [92]:
# 2.
today = dt.datetime.now()
D_day = dt.datetime(year = 2036, month = 1, day = 1)
gap = D_day - today
print(f'오늘은 {today.year}년 {today.month}월 {today.day}일입니다.')
print(f'2036년 새해까지는 {gap.days}일 {gap.seconds // 3600}시간 남았습니다.')

오늘은 2022년 10월 26일입니다.
2036년 새해까지는 4814일 5시간 남았습니다.

In [93]:
# 3.
today = dt.datetime.now()
D_day = dt.datetime(year = 2036, month = 8, day = 28)
print(f'오늘은 {today.year}년 {today.month}월 {today.day}일입니다.')
gap = D_day - today
print(f'내년 생일까지는 {gap.days}일 {gap.seconds // 3600}시간 남았습니다.')

오늘은 2022년 10월 26일입니다.
내년 생일까지는 5054일 5시간 남았습니다.

# Lab 7.3

In [95]:
# 1.
today = dt.datetime.today()
days1000 = dt.timedelta(days = 1000)
D_day = today + days1000
print(f'오늘로부터 1,000일 되는 날은 {D_day.year}년 {D_day.month}월 {D_day.day}일입니다.')

오늘로부터 1,000일 되는 날은 2025년 7월 22일입니다.

In [97]:
# 2.
year, month , day = map(int, input('처음으로 사귄 날짜를 입력하시오 : ').split())
start_day = dt.datetime(year = year, month = month, day = day)
day100 = dt.timedelta(days = 99)
target_day = start_day + day100

print(f'100일 기념일은 {target_day.year}년 {target_day.month}월 {target_day.day}일입니다.')

처음으로 사귄 날짜를 입력하시오 : 2019 3 30
100일 기념일은 2019년 7월 7일입니다.