# Q1.

In [2]:
# 정답 : shirt

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

# Q2.

In [5]:
i = 1
sum_three = 0

while i <= 1000:
    if i % 3 == 0:
        sum_three += i
    i += 1
    
print(sum_three)

166833

# Q3.

In [6]:
i = 1
while i<= 5:
    print('*' * i)
    i += 1

*
**
***
****
*****

# Q4.

In [7]:
for i in range(1, 101):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# Q5.

In [9]:
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

score_sum = 0

for score in scores:
    score_sum += score
    
print('A 학급의 평균 점수', score_sum / 10)

A 학급의 평균 점수 79.0

# Q6.

In [19]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [20]:
result = [2 * i if i % 2 == 1 else i  for i in numbers]
print(result)

[2, 2, 6, 4, 10]