# LAB 6.1 딕셔너리의 생성

## 1.

In [1]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}

In [4]:
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

## 2.

In [9]:
fruits_dic = {'apple':5000, 'banana':4000, 'grape':5300, 'melon':6500}

for fruit in fruits_dic:
    print(f'{fruit}의 가격은 {fruits_dic[fruit]}원입니다.')

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

# LAB 6.2 딕셔너리의 항목 추가와 삭제

## 1.

In [10]:
person = {'이름':'홍길동', '나이':26, '몸무게':82, '특기':'분신술'}

## 2.

In [12]:
person['아버지'] = '홍판서'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

## 3.

In [14]:
del person['나이']
print(person)

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

# LAB 6.3 딕셔너리와 연산

In [15]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'Washington DC'}

## 1.

In [17]:
print('Korea in capital_dic')
print('Korea' in capital_dic)

Korea in capital_dic
True

In [18]:
print('China in capital_dic')
print('China' in capital_dic)

China in capital_dic
True

In [19]:
print('Indonesia in capital_dic')
print('Indonesia' in capital_dic)

Indonesia in capital_dic
False

In [20]:
print('Beijing in capital_dic')
print('Beijing' in capital_dic)

Beijing in capital_dic
False

# LAB 6.4 딕셔너리의 활용

## 1.

In [27]:
fruits_dic = {'apple':6000, 'banana':5000, 'orange':7000, 'melon':3000}

## 2.

In [28]:
print(fruits_dic.keys())

dict_keys(['apple', 'banana', 'orange', 'melon'])

## 3.

In [29]:
print(fruits_dic.values())

dict_values([6000, 5000, 7000, 3000])

## 4.

In [30]:
fruits_dic.pop('apple')
print(fruits_dic)

{'banana': 5000, 'orange': 7000, 'melon': 3000}

## 5.

In [37]:
fruits_dic.clear()
print(fruits_dic)

{}

# LAB 6.5 딕셔너리의 활용

## 1.

In [39]:
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'oragne':4000}
print(list(fruits_dic.keys()))

['apple', 'melon', 'banana', 'oragne']

## 2.

In [40]:
print(list(fruits_dic.values()))

[6000, 3000, 5000, 4000]

## 3.

In [41]:
print(f'fruits_dic 딕셔너리 항목의 개수 : {len(fruits_dic)}')

fruits_dic 딕셔너리 항목의 개수 : 4

## 4.

In [42]:
for fruit in ['apple', 'mango']:
    if fruit in fruits_dic:
        print(f'{fruit} is in fruits_dic.')
    else:
        print(f'{fruit} is not in fruits_dic.')

apple is in fruits_dic.
mango is not in fruits_dic.

# LAB 6.6 튜플의 생성과 패킹, 언패킹

## 1.

In [43]:
the_day = (1919, 3, 1)
year, month, day = the_day
print(f'{year}년 {month}월 {day}일은 삼일절입니다.')

1919년 3월 1일은 삼일절입니다.

## 2.

In [46]:
num_list = [10, 20, 30]
a, b, c = tuple(num_list)

print(f'a = {a}')
print(f'b = {b}')
print(f'c = {c}')

a = 10
b = 20
c = 30

# LAB 6.7 튜플의 활용

## 1.

In [47]:
person = ('홍길동', 2019001, 179)

## 2.

In [48]:
person[1] = 2019003

TypeError: 'tuple' object does not support item assignment

## 3.

In [49]:
person = list(person)
person[1] = 2020003
person = tuple(person)
print(f'학번 변동 후 person = {person}')

학번 변동 후 person = ('홍길동', 2020003, 179)

# LAB 6.8 튜플의 변환

## 1.

In [52]:
x = int(input('x = '))
y = int(input('y = '))


def square(x, y):
    return x ** 2, y ** 2


x_sq, y_sq = square(x, y)
print(f'{x} 제곱 = {x_sq}, {y} 제곱 = {y_sq}')

x = 10
y = 20
10 제곱 = 100, 20 제곱 = 400

## 2.

In [53]:
print((10, 20, 30) + (40, 50, 60))

(10, 20, 30, 40, 50, 60)

## 3.

In [54]:
print('Hello' * 3)
print(('Hello', ) * 3)

HelloHelloHello
('Hello', 'Hello', 'Hello')

# LAB 6.9 집합의 생성

## 1.

In [58]:
lst = ['apple', 'magno', 'banana']
s1 = set(lst)

print(f'lst = {lst}')
print(f's1 = {s1}')

lst = ['apple', 'magno', 'banana']
s1 = {'banana', 'apple', 'magno'}

## 2.

In [60]:
greet = 'Good afternoon'
s2 = set(greet)

print(f'greet = {greet}')
print(f's2 = {s2}')

greet = Good afternoon
s2 = {'o', 'n', 't', 'e', 'G', 'a', 'f', 'd', 'r', ' '}

# LAB 6.10 집합의 연산

In [61]:
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60, 70}

## 1.

In [62]:
print(s1 | s2)

{70, 40, 10, 50, 20, 60, 30}

## 2.

In [63]:
print(s1 & s2)

{40, 30}

## 3.

In [64]:
print(s1 - s2)

{10, 20}

## 4.

In [65]:
print(s1 ^ s2)

{50, 20, 70, 10, 60}

## 5.

In [66]:
print(s1.issubset(s2))

False

## 6.

In [67]:
print(s1.issuperset(s2))

False

## 7.

In [68]:
print(s1.isdisjoint(s2))

False

# LAB 6.11 곱 집합 연산

In [69]:
A = {1, 2}
B = {'A', 'B', 'C'}

In [72]:
def product(set1, set2):
    value = set()
    for i in set1:
        for j in set2:
            value = value | {(i, j)}
            
    return value

In [73]:
print(f'A X B = {product(A, B)}')

A X B = {(2, 'A'), (1, 'B'), (1, 'A'), (2, 'C'), (2, 'B'), (1, 'C')}

In [74]:
print(f'B X A = {product(B, A)}')

B X A = {('C', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 2), ('A', 1)}

In [77]:
print(f'A X A = {product(A, A)}')

A X A = {(1, 1), (1, 2), (2, 1), (2, 2)}

In [78]:
print(f'B X B = {product(B, B)}')

B X B = {('C', 'A'), ('C', 'C'), ('C', 'B'), ('A', 'A'), ('B', 'A'), ('A', 'C'), ('A', 'B'), ('B', 'C'), ('B', 'B')}

# LAB 6.12 복수로 주사위를 던졌을 때 특정 값 이상을 얻을 확률 구하기

In [79]:
def tuple_sum(tup):
    if isinstance(tup, int):
        return tup
    else:
        accum = 0
        for element in tup:
            accum += tuple_sum(element)
    return accum


def product_set(set1, set2):
    res = set()
    
    for i in set1:
        for j in set2:
            res = res | {(i, j)}
            
    return res


def exp(input_set, exponent):
    res = input_set
    
    for _ in range(exponent - 1):
        res = product_set(res, input_set)
        
    return res

## 1.

In [85]:
dice_set = {1, 2, 3, 4, 5, 6}
dice_case03 = len(exp(dice_set, 3))

print(f'주사위를 세 번 던져서 발생할 수 있는 사건은 {dice_case03} 가지 경우가 존재합니다.')

주사위를 세 번 던져서 발생할 수 있는 사건은 216 가지 경우가 존재합니다.

## 2.

In [88]:
dice_case = exp(dice_set, 3)

count = 0
for case in dice_case:
    if tuple_sum(case) >= 10:
        count = count + 1
        
        
print(f'주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 {count} 가지입니다.')

주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 135 가지입니다.

In [94]:
def prob_over(x):
    dice = {1, 2, 3, 4, 5, 6}
    dice_case = exp(dice, 3)
    
    total_case_number = len(dice_case)
    
    dice_sum = x
    count = 0
    for case in dice_case:
        if tuple_sum(case) >= dice_sum:
            count += 1
                
    prob = round(100 * count / total_case_number, 2)
    print(f'눈의 합으로 {dice_sum} 이상을 얻을 확률 {prob} %')

In [95]:
for x in range(3, 19):
    prob_over(x)

눈의 합으로 3 이상을 얻을 확률 100.0 %
눈의 합으로 4 이상을 얻을 확률 99.54 %
눈의 합으로 5 이상을 얻을 확률 98.15 %
눈의 합으로 6 이상을 얻을 확률 95.37 %
눈의 합으로 7 이상을 얻을 확률 90.74 %
눈의 합으로 8 이상을 얻을 확률 83.8 %
눈의 합으로 9 이상을 얻을 확률 74.07 %
눈의 합으로 10 이상을 얻을 확률 62.5 %
눈의 합으로 11 이상을 얻을 확률 50.0 %
눈의 합으로 12 이상을 얻을 확률 37.5 %
눈의 합으로 13 이상을 얻을 확률 25.93 %
눈의 합으로 14 이상을 얻을 확률 16.2 %
눈의 합으로 15 이상을 얻을 확률 9.26 %
눈의 합으로 16 이상을 얻을 확률 4.63 %
눈의 합으로 17 이상을 얻을 확률 1.85 %
눈의 합으로 18 이상을 얻을 확률 0.46 %